<div>

  <form [formGroup]="reactiveForm"  (ngSubmit)="addPlaylist()" class="row g-3" style="margin-top: 10px; margin-left: 25px;">
    <div class="col-md-3">
      <label for="playlist" class="visually-hidden">Playlist</label>
      <input type="text" formControlName="nombreLista" class="form-control" id="nombreLista" placeholder="Nombre" >
      <span *ngIf="nombreListaField?.errors && nombreListaField?.touched">
        <p *ngIf="nombreListaField?.hasError('required')">
          {{'label.required' | translate}} *
        </p>

        <p *ngIf="nombreListaField?.hasError('maxlength')">
          {{'label.maximum_limit' | translate}}
        </p>
      </span>
    </div>
    <div class="col-md-5">
      <label for="descripcion" class="visually-hidden">Descripción</label>
      <input type="text" formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripción" >
      <span *ngIf="descripcionField?.errors && descripcionField?.touched">
        <p *ngIf="descripcionField?.hasError('required')">
          {{'label.required' | translate}} *
        </p>

        <p *ngIf="descripcionField?.hasError('maxlength')">
          {{'label.maximum_limit' | translate}}
        </p>
      </span>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary mb-3"> Add Playlist</button>
    </div>
  </form>

  <div class="play-list-body">
    <ul class="play-list-table-header">
      <li>{{'label.name' | translate}} ❤</li>
      <li>{{'label.description' | translate}} 🆗</li>
      <li><i class="uil uil-clock-eight"></i></li>
    </ul>
    <ul class="play-list-rows" *ngFor="let lista of listas; let i = index">
      <li class="track-name-opacity">
       {{ lista.nombreLista | titlecase }}
      </li>
      <li class="track-name-opacity">
       {{ lista.descripcion | titlecase }}
      </li>
      <li class="track-actions">
        <button type="submit" class="btn btn-secondary btn-sm see-button" [routerLink]="['detail', lista.nombreLista]"> {{'label.see' | translate}}</button>
        <button type="submit" class="btn btn-secondary btn-sm" (click)="deletePlaylist(i)">{{'label.delete' | translate}}</button>
        <!-- <button type="submit" class="btn btn-secondary btn-sm" (click)="deletePlaylist(lista.nombreLista)">{{'label.delete' | translate}}</button> -->
      </li>
    </ul>
  </div>
</div>
